/* Reset */
p { margin: 0}

/* Global CSS */
#AddNewEventContainer
{
  position:fixed;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,1);
  z-index: 35;
  left:0;
  top: 0;
  padding: 20px 0 0 20px;
  overflow:auto;
}

#AddNewEventContainer input {
  font-size: 32px;
  color: black;
  border:none;
  border-bottom: 1px solid #ccc;
  font-family: 'texbold';
  padding: 5px 0 5px 15px;
  margin-left: 20px;
}

#AddNewEventContainer input:focus {
    background-color: yellow;
    outline: none;
} 

#EscapeMessage {
  position: fixed;
  top: 20px;
  right: 45px;
}
/* Duration CSS */

#DurationContainer {
  margin-top: 10px;
}

#DurationContainer span {
  font-size: 32px;
  font-family: 'texbold';
  color: #f2f2f2;
  margin-left: -15px;
}

#DurationContainer input {
  width: 60px;
  margin-top: -14px;
  margin-right: 20px;
}
#DurationExplanation {
  margin-left: 0 !important;
}
#DurationExplanation p  {
  margin-left: 34px;
  font-size: 32px;
  font-family: 'texbold';
  color: #f2f2f2;
}


/* Location CSS */

#NickLocationInput {
  margin-bottom: 15px;
}

/* Split CSS */
#splitInputContainer {
  //display:none;
}

/* Button CSS */
.SubmitButton {
  border: 1px #ccc solid;
  color: black;
  background-color: white;
  font-size: 16px;
  font-family: 'texbold';
  padding: 15px 40px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#SubmitButtonContainer { margin-left: 95px; margin-top: 3px; margin-bottom: 80px; }
.SubmitButton:focus,
  .SubmitButton:hover {
  border: 1px transparent solid;
  outline: none;
  background-color: yellow;
}


.SubmitButton:focus[disabled="disabled"],
  .SubmitButton:hover[disabled="disabled"] {
  border: 1px transparent solid;
  outline: none;
  background-color: gray;
}


/* Placeholder CSS */
::-webkit-input-placeholder {
  color: black;
 }
 :-moz-placeholder { /* Firefox 18- */
   color: black;  
}
::-moz-placeholder {  /* Firefox 19+ */
  color: black;  
 }
:-ms-input-placeholder {  
   color: black;  
}
input:focus::-webkit-input-placeholder { color:rgba(0,0,0, 0.2); }
input:focus:-moz-placeholder { color:rgba(0,0,0, 0.2); } /* FF 4-18 */
input:focus::-moz-placeholder { color:rgba(0,0,0, 0.2); } /* FF 19+ */
input:focus:-ms-input-placeholder { color:rgba(0,0,0, 0.2); }

#ColorPickerContainer 
{
    position:relative;
    width: 200px;
    height: 200px;
    //transform:translateY(-10%);

}

.ColorPickerContainerRigid
{
    margin-top: 44px;
    margin-left: 100px;
}

.ColorPicker 
{
    position:relative;
    border-radius:50%;
    width:33%;
    height:33%;
    box-sizing:border-box;
    display:inline-block;
}

.innerColor 
{
    position:relative;
    top:10%;
    left:10%;
    height:80%;
    width:80%;
    border-radius:50%;
    box-sizing:border-box;
}

.OuterBlackColor 
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    border-radius:50%;
    width:100%;
    fill:transparent;
    box-sizing:border-box;
}
.HorizontalColorPicker {
    
    width: 11.11111111%;
    height: 100%;
    position: relative;
    box-sizing:border-box;
    display: inline-block;
}

.HorizontalColorPickerContainer 
{
    width: 300px !important;
    height: 33.3333333px !important;
}

.HorizontalColorPickerContainerTiledEvent 
{
    margin-top:10px;
    left:150px;
}


.addCircleAround { border: 3px solid black; 
                   outline:none;
}
.removeCircleAround { border:none; }

.DisableTiler { display:none; }

.EnableButtonContainer 
{
    width: 50px;
    height: 25px;
    top:25%;
    position:relative;
}
.EnableButtonContainer:focus {
  background-color: yellow;
}

#EnableTilerContainer {
    height:7.5em;
}

#EnableSplitAndEndContainer {
    position:absolute;
    left: 100px;
    transform: translateY(-30%);
}

#AddModalDom, #ProcrastinateAllDom {
    position:absolute;
    height: 130px;
    width: 380px;
    background-color: #fff;
    border: 1px solid #eee;
    z-index:999;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
    -moz-box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
    box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
}
#AddModalDom button { margin: 15px }
#AddModalDom span { margin-left: 15px }
#AddModalDom:focus { outline: none; }
#AddTileDom { left:5%; }
#AddEventDom { left:55%; }

.labelAndInputContainer 
{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition:all .5s ease;
    font-size: 20px !important;
    display: inline-block;
}

.tileInputBoxElement {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition:all .5s ease;
    font-size: 20px !important;
    display: inline-block;
}

.NonReveal { 
    //opacity:0;
    display:none !important;
}

.invisibleSpan { 
  opacity: 0;
  position: fixed;
  visibility:hidden;
  bottom: 20px;
  left: 20px;
}
.reveal {
    visibility: visible;
    //opacity: 1;
    display: inline;
}

#ModalActiveTileContainer 
{
    position:relative;
    padding: 50px;
    -webkit-box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    -moz-box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    font-family: 'texbold';
    //top:50%;
    /left:50%;
    //margin-top: -200px;
    //margin-left: -300px;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index:1;
}
#ModalInActiveTileContainer {

    position:relative;
    padding: 25px 50px;
    width:100%;
    -webkit-box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    -moz-box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    box-shadow: 6px 6px 29px -2px rgba(159,158,158,1);
    font-family: 'texbold';
    width: 100%;
    height: auto;
    background-color: #fff;
}

#ModalContentContainer 
{
    font-family: 'texbold';
    margin-bottom: 30px;
    background-color: #fff;
    z-index:1000;
}

.ModalTileContainer 
{
    position: absolute;
      font-family: 'texbold';
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* margin-left: -350px; */
      width: 600px;
      min-height: 300px;/*300px because of the preview panel*/
      height: auto;
      background-color: #fff;
      z-index: 1;
}

/*.ModalTileContainer div { display: inline; }*/

.ModalTileContainer label { 
  color: rgb(20,20,20);
  //margin-right: 12px;

}

.ModalTileContainer ::-webkit-input-placeholder{
    color:#C2C1C1;
}

.ModalTileContainer :-moz-placeholder {
    color:#C2C1C1;
}

.ModalTileContainer ::-moz-placeholder {
    color:#C2C1C1;
}
.ModalTileContainer :-ms-input-placeholder {
    color:#C2C1C1;
}
.ModalTileContainer input { 
  font-family: 'texbold';
  font-size: 20px;
  padding-left: 5px;
  //margin-right: 15px;
  width: auto;
  max-width: 40%;
  border-top:none;
  border-left:none;
  border-right:none;
  min-width:2em;
}




.ModalTileContainer input:focus {
  background-color: yellow;
  outline: none;
  transition:none;
} 
.returnedValueContainer div { 
  background-color: #eee;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  margin: 3px 0;
  //display: block; 

}
.InvisibleAddEventPanel { opacity: 0; }
.OnFocusDropDownElement { background-color: yellow !important; }


#ModalDoneContentContainer 
{
    display: block;
    margin-top:30px;
}

.HideTileDoneButton 
{
    display: none !important;
}

.HideInactiveElement {
    display: none;
}


.RevealInactiveElement {
    display: inline-block;
}

.EnableButtonContainer {
    transform: rotate(0deg);
    display:inline-block;
}
.SliderMessageContainer {
    display:inline-block;
    font-size: 20px;
    color: #C2C1C1;
    margin-left: 20px;
}

.AlInputDataContainer {
    display:block;
    margin-top: 30px;
}

.RevealInActivePanel {
    display:block;
}

.InputBarAndContentContainer {
  //z-index: 89;
}

#TileInputDoneButton {
  float:right;
  position: relative;
  z-index: 90;
  font-family: 'texreg', Helvetica, sans-serif;
  color: #C2C1C1;
}
#TileInputDoneButton:focus {
  outline: none;
}
#TileInputDoneButton:focus #ClickHereText, 
#TileInputDoneButton:focus #ReturnText {
  border-bottom: 1px solid yellow
}

#ReturnText, #ClickHereText {
  color: #000;
}

#ClickHereText, #ReturnText {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}
#ClickHereText:hover {
  border-bottom: 2px solid yellow;
}
.ActiveContainerSlider 
{
      border-top: solid 1px rgb(100,100,100);
      padding-top: 10px;
      margin-top: 10px;
}

#ModalActiveOptionsContainer {
    display:block;
}
.pressSpacebarSpan {
  font-family: 'texreg', Helvetica, sans-serif;
  display: block;
  margin-left: 80px;
}


#ModalSenetenceContainer
{
    padding: 25px 50px;
    //background: yellow;
    width: 100%;
}

#EnableRecurrenceLabel {
    display:inline-block;
    font-family: 'texbold';
}

#EnableRecurrenceButton {
    display:inline-block;
    margin-left: 83px;
}

#EnabledRecurrenceContainer 
{
    top:10%;
    left:10%;
    width:80%;
    height:90%;
}


.recurrenceButton {
    position:relative;
    //width:40px;
    display:inline-block;
    margin-top:20px;
    margin-right: 34px;
    padding: 10px;
}

.DayOfWeekLetter
{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    overflow:hidden;
    text-overflow:ellipsis;
}

.DayofWeekCircle
{
    width:48px;
    height:48px;
    margin:5px;
    border-radius:28px;
    border: 1px solid rgb(127,127,127);
    font-family: 'Muli', sans-serif;
    font-size:1em;
    opacity:0;
    transition:opacity 1s box-shadow .7s;
    //position:absolute;
    text-align:center;
    display:inline-block;
    top:28px;
    box-sizing:border-box;
    line-height: 48px;
    cursor: pointer;
}

.SelectedDayOfWeek /*media*/
{
    box-shadow: yellow 0px 0px 3px 3px;
    outline: none;
}

.deSelectedDayOfWeek 
{
    box-shadow: none;
}

.ActiveRecurrenceButton
{
    background-color:yellow;
    //color:rgba(50,50,50,1);
}

.InActiveRecurrenceButton
{
    background-color:transparent;
    //color:rgba(217,217,217,1);
}

#RecurrenceTabContent { margin: 20px }
#RepetitionRangeContainerEndInput { width: 271px; margin-top: 20px; }
#DaysOfTheWeekContainer { margin-top: 20px; margin-left:-5px}
.DayofWeekCircle { outline: none; }
.DayofWeekCircle:active { outline: none;}
.EmptyTileInput 
{
    width:5em !important;
    background-color:rgba(10,10,10,.1);
}
.PressSpacebar {
  color: #656464;
  font-family: 'texreg';
  font-size: 14px;
  display: block;
  line-height: 20px;
}
.OutFocusTileInputBox 
{
    border-bottom:solid 1px rgb(80,80,80);
}


#SummaryContentAutoCompletion {
    text-align:center;
    text-decoration: underline;
}


#PreviewPanel
{
    position:absolute;
    width:300px;
    height:300px;
    background-color:white;
    transform: translate(0,0);
    left:0;
    transition:left .3s;
    z-index:-1;
    box-shadow:rgba(10,10,10,.8) 0 0 10px;
    visibility:hidden;
}

.RevealPreviewPanel
{
    visibility:visible !important;
    left:calc(100% + 100px) !important;/*Extra 100px left caused by width expansion intrpduced by padding of #ModalActiveTileContainer. */
}

.LocationCacheContainer
{
    width: 100%;
    min-height: 40px;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
}
.LocationCacheContainer:hover
{
    background-color: rgb(200,200,200);
}

.LocationTag
{
   
}
.LocationAddress
{

}

.HoveLocationCacheContainer
{
    background-color:yellow !important;
}


#RestrictionWeekDayContainer
{
  width: 406px;
  height: 100px;
  left: 50%;
  margin-left: -203px;
  position: relative;
}

#RestrictiveWeekDayButtonInputContainer{
    width:100%;
    height:50px;
    position:relative;
}

.RestrictedWeekdayInputContainer
{
    width:calc(100%/7);
    height:100%;
    box-sizing:border-box;
    position:relative;
    display:inline-block;
}

.TimeRestrictedWeekdayInputContainer
{
    width:100%;
    height:50%;
    box-sizing:border-box;
    position:relative;
    display:block;
}

#RestrictionWeekDayContainer input
{
  width: 80%;
  left: 10%;
  height: 80%;
  top: 10%;
  position: absolute;
  font-size: 0.7em;
  padding: 0;
  max-width:100%;
  text-align: center;
}
.RestrictedWeekdayInputContainerInput{
    position:absolute;
    height:100%;
    width:100%;
}


#StartEndInutContainer
{
    padding-left:53px;
}

.DayofWeekCircle:hover{
    background-color: rgb(200,200,200);
}

.DayofWeekCircle:focus
{
    background-color: rgb(200,200,200);
}