
.TabContent 
{
    position:absolute;
    width:100%;
    font-family: 'Muli', sans-serif;
    height:100%;
    transition:left .5s;
    background-color:white
}

.InActiveTabContentDark
{
    position:absolute;
    top:0%;
    left:100%;
    visibility:hidden;
}

.ActiveTabContentDark
{
    position:absolute;
    top:0%;
    visibility:visible;
    left:0%;
}

.InActiveTabContentLight
{
    position:absolute;
    top:0%;
    left:100%;
    //visibility:hidden;
}

.ActiveTabContentLight
{
    position:absolute;
    top:0%;
    visibility:visible;
    left:0%;
}

.SectionCompletionButton 
{
    width: 95%;
    transform:translateY(-100%);
    height:8%;
    left:2.5%;
    position:absolute;
    top:100%;
    display:table;
    font-size:1em;
    text-align:center;
    border:rgb(40,40,40);
}

#AddNewEventContainer 
{
    width:100%;
    height:100%;
    position:absolute;
    overflow-x:hidden;
}

#TabTitleContainer 
{
    position: fixed;
    height: 15%;
    width: 100%;
    top: 0%;
    overflow: hidden;
    background-color: rgb(250,250,250);
}

#TabContentContainer 
{
    position:absolute;
    height:85%;
    width:100%;
    top:15%;
    //min-height:500px;
}

#RangeTabContainer {
    position:absolute;
    left:85%;
    width:15%;
    height:100%;
    font-size:15px;
}

.TabTitleText /*media*/
{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    overflow:hidden;
    text-overflow:ellipsis;
    font-family: 'Metrophobic', sans-serif;
    font-size:1em;
}

.TabTitle
{
    position:absolute;
    display: table;
    width:70%;
    font-family: 'Metrophobic', sans-serif;
    height:100%;
    overflow:hidden;
    text-align:center;
    background:rgb(250,250,250);
}

.ActiveTabTitleDark
{
    
}

.InActiveTabTitleDark
{
    
}

.ActiveTabTitleLight
{
    
}

.InActiveTabTitleLight
{
    
}

#NameTabTitle 
{
    position:absolute;
    left:15%;
    width:70%;
    font-size:15px;
}

#NameTabContent 
{
    //background-color:green;
}

#RangeTabContent 
{
    //background-color:orange;
}

#RecurrenceTabContent 
{
    //background-color:red;
}

#RecurrenceTabTitle 
{
    position:absolute;
    //left:33%;
    //border-left:3px solid rgb(255,255,255);
    //border-right:3px solid rgb(255,255,255);
}

#RangeTabTitle 
{
    position:absolute;
    //left:66%;
}

#CancelTabContainer 
{
    position:absolute;
    left:0%;
    height:100%;
    width:15%;
    font-size:.75em;
}

#CancelTabTitleText 
{
    position:absolute;
    width:100%;
    top:100%;
    margin-top:-.75em;
    display: none;
}

#CancelTabContent 
{
    position:absolute;
    width:40px;
    height:40px;
    top:50%;
    margin-top:-20px;
    left:50%;
    margin-left:-20px;
    
}

.InputTextFont 
{
    font-size:10px;
}

.recurrenceButton 
{
    //width:24%;
    height:100%;
    display:table;
    border:2px solid rgb(120,120,120);
    border-radius:3px;
    font-family: 'Metrophobic', sans-serif;
}

.ActiveRecurrenceButton
{
    background-color:rgba(217,217,217,1);
    color:rgba(50,50,50,1);
}

.InActiveRecurrenceButton
{
    background-color:rgba(50,50,50,1);
    color:rgba(217,217,217,1);
}

#RecurrenceButtonContainer 
{
    position: relative;
    /* margin-top: 16px; */
    width: 100%;
    height: 30px;
    /* left: 5%; */
}

#dailyRecurrenceButton
{
    left:0%;
}

#weeklyRecurrenceButton
{
    left:25%;
}

#monthlyRecurrenceButton
{
    left:50%;
}

#yearlyRecurrenceButton
{
    left:75%;
}

/*Day Preference */

#DayPreferenceContainer 
{
    position: relative;
    /* top: 30%; */
    /* border-top: 2px solid rgb(120,120,120); */
    /* border-bottom: 2px solid rgb(120,120,120); */
    width: 70%;
    left: 15%;
    /* height: 30%; */
    border-radius: 3px;
    /* padding-left: 12%; */
}


#DayPreferenceContainer input
{
    display:inline-block;
}
#DayPreferenceContainer label
{
    display:inline-block;
}


.DayPreferenceRadioButtonContainer 
{
  position: relative;
  font-family: 'Metrophobic', sans-serif;
  font-size: 30px;
  height: 35px;
}

#CustomTimeBar 
{
  padding-top: 10px;
}

#BussinessHourInputContainer 
{
    //top:10%;
}


#AnyHourTimeContainer 
{
    //top:45%;
}

#CustomHourTimeContainer 
{
    //top:80%;
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    //padding-left: 25px;  
    //margin-right: 30px;  
    //font-size: 30px;  
}  

input[type=radio] {  
    display: none;  
} 

/*
label:before
{
    content: "";  
    display: inline-block;  
  
    width: 30px;  
    height: 30px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: -10px;  
    bottom: 1px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  

}


label:before {  
    border-radius: 15px; 
    top:6px; 
    display:table;
}  


input[type=radio]:checked + label:before {  
    content: "\2022";  
    display:table-cell;
    color: #f3f3f3;  
    font-size: 80px;  
    vertical-align: middle;
    text-align: center;  
    line-height: 15px;  
}
*/


#EnableRecurrenceButtonContainer 
{
    left: 100%;
    transform: translate(-100%,-50%);
    top: 50%;
}



#EnableRecurrenceContainer 
{
    position: relative;
    height: 50px;
    margin-top: 8px;
    left: 15%;
    width: 70%;
}

#EnableRecurrenceLabel 
{
    left:0%;
    position:absolute;
    width:80%;
    height:100%;
    font-family: 'Metrophobic', sans-serif;
    font-size:12px;
    line-height: 24px;
    font-weight: 800;
    display:table;
}

#EnabledRecurrenceContainer 
{
    position: relative;
    margin-top: 8px;
    left: 15%;
    width: 70%;
}

#CustomTimeBar div 
{
  display: inline-block;
  width: 6em;
  padding-right: 0;
  position: relative;
}

#CustomTimeBar input 
{
  display: inline-block;
  width: 4.8em;
  border: solid 1px black;
  text-align: center;
  font-size: .8em;
}
#CustomTimeBar div a
{
    position: absolute;
    display: inline-block;
    left: 100%;
    transform: translate(-100%,-100%);
    top: 18px;
}
/*Day of week start*/
.DayofWeekCircle /*media*/
{
    width:28px;
    height:28px;
    margin-left:-14px;
    border-radius:28px;
    border: 1px solid rgb(127,127,127);
    font-family: 'Muli', sans-serif;
    font-size:1em;
    opacity:0;
    transition:opacity 1s box-shadow .7s;
    position:absolute;
    text-align:center;
    display:table;
    top:28px;
    box-sizing:border-box;
}

.DayOfWeekLetter
{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    overflow:hidden;
    text-overflow:ellipsis;
}

.SelectedDayOfWeek /*media*/
{
    box-shadow: yellow 0px 0px 3px 3px;
}

.deSelectedDayOfWeek 
{
    box-shadow: none;
}

.DaysOfTheWeekContainer /*media*/
{
    position: relative;
    height: 7.5%;
    width: 100%;
    /* left: 2.5%; */
    visibility: visible;
    margin-top: 8px;
    height: 28px;/*height is from height of wach day of week circles*/
}

#DaysOfTheWeekContainer 
{
    //top:17.5%;
    //visibility:hidden;
}

/*Day of week End*/

#RepetitionRangeContainer 
{
  position: relative;
  /* top: 70%; */
  width: 100%;
  height: 10%;
  /* left: 10%; */
  font-family: 'Muli', sans-serif;
  margin-top:10px;
    
}

.DateInputLabel 
{
    position: relative;
    left: 0%;
    width: auto;
    line-height: 6px;
    font-size: 18px;
    height: 100%;
    top: 50%;
    display: inline-block;
    padding-right: 4px;
}

.DateInputData
{
    position: relative;
    /* left: 30%; */
    width: 5em;
    height: 100%;
    background-color: rgba(200,200,200,.3);
    border: solid 2px gray;
    font-size: 1em;
    display: inline-block;
    text-align: center;
}

#RepetitionRangeContainerStartContainer {
    position:absolute;
    top:0%;
    height:40%;
    width:100%;
    visibility:hidden;
}

#RepetitionRangeContainerEndContainer {
  position: relative;
  /* top: 50%; */
  /* height: 40%; */
  width: 100%;
}



#NameTabContent 
{

    font-family: 'Muli', sans-serif;
}


/*Auto Scheduling Section Start*/

#EnableAAutoScheduleContainer
{
    position:relative;
    //top:60%;
    width:70%;
    height:25%;
    left:15%;
    //border:solid 3px green;
    font-family: 'Muli', sans-serif;
}

#EnableAutoSchedulerButton 
{
    position:absolute;
    left:100%;
    //z-index:3;
    transform:translate(-50%,0);
}

#EnableAAutoScheduleContainerLabel 
{
    position:absolute;
    width:75%;
    top:0%;
    height:100%;
    font-size:8px;
    display:none;
}

#AutoScheduleContainerDataContainer 
{
    position:relative;
    top:1em;
    width:100%;
    height:auto;
    
    overflow:hidden;
}

#AutoScheduleDurationContainer
{
    position:relative;
    width:90%;
    left:5%;
    height:auto;
    border: solid black 1px;
}
#AutoScheduleDurationContainer_Text
{
    position:relative;
    width:100%;
    height:100%;
    //border-bottom:3px solid gray;
    font-size:.85em;
    overflow:hidden;
    text-overflow:ellipsis;
}

#AutoScheduleContainerDataContainerSlider 
{
  position: relative;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* transition: all .5s; */
}

.DisableSliderTop 
{
    position:absolute;
    top:-100%;
}

.EnableSliderTop 
{
    position:absolute;
    top:0%;
}


.InputBox 
{
    width:300px;
    background-color:rgba(200, 200, 200, 0.1);
    border: 2px solid #323232;
    height:8%;
    top:50%;
    margin-top:-35px;
    font-size:30px;
}

.InputLabel 
{
    position:absolute;
    top:50%;
    margin-top:-.5em;
    height:1em;
    font-size:40px;
}

#AutoScheduleCountContainer {
    position: relative;
    width: 70%;
    margin-top: 10px;
    left: 15%;
}

input:focus {
    background-color: yellow;
    outline: none;
} 

#AutoScheduleTimeCOnstraintContainer
{
    position:relative;
    //top:50%;
    width:100%;
    margin-top:3px;
    overflow:hidden;
}

#AutoScheduleRangeConstraintContainer 
{
    //position:absolute;
    position:relative;
    width:70%;
    left:15%;
    //height:32%;
    //top:30%;
    transition: all .5s;
    overflow:hidden;
}

.AutoScheduleTimeRange 
{
    width:100%;
}

#AutoScheduleRangeConstraintContainerStart 
{
    position:relative;
    height:auto;
}

#AutoScheduleRangeConstraintContainerEnd 
{   
    position: relative;
    height: auto;
}

#AutoScheduleRangeConstraintContainerEnd a {
  position: absolute;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  left: 100%;
  transform: translateX(-220%);
}

#AutoScheduleRangeConstraintContainerStart a {
  position: absolute;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  left: 100%;
  transform: translateX(-220%);
}
#AutoScheduleDurationContainerLabel
{
    display:none;
}


.TimePicker 
{
    width: 100%;
    font-size: 10px;
    text-align: left;
    position: relative;
    height: 40px;
    border: none;
    font-family: 'Muli', sans-serif;
}

.DatePicker 
{
    width: 100%;
    font-size: 10px;
    position: relative;
    height: 40px;
    text-align: left;
    font-family: 'Muli', sans-serif;
    top: 50%;
    margin-top: 6px;
    border: none;
}

.RangeLabel 
{
    position:absolute;
    width:100%;
    text-align:center;
    top:70%;
    font-size:25px;
}
/*Auto Scheduling Section End*/


.ActiveTabTitleDark
{
    //background-color:rgba(25,25,25,1);
    //box-shadow:rgba(20,20,20,.6) 0px 0px 18px 18px;
    left:15%;
    z-index:1;
}

.InActiveTabTitleDark
{
    //background-color:rgb(168,168,168);
    left:100%;
    z-index:0;
}

.ActiveTabTitleLight
{
    //background-color:rgb(168,168,168);
    //box-shadow:rgba(20,20,20,.6) 0px 0px 18px 18px;
    left:15%;
    z-index:4;
}

.InActiveTabTitleLight
{
    //background-color:rgba(25,25,25,1);
    left:100%;
    z-index:0;
}

.LocationTag 
{
    position:absolute;
    font-weight:900;
    left:5%;
    width:25%;
    overflow:hidden;
    text-overflow:ellipsis;
    //line-height:100%;
}

.LocationAddress 
{
    position:absolute;
    left:30%;
    width:65%;
    overflow:hidden;
    text-overflow:ellipsis;
}

#ContainerDateElement 
{
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    top: 0;
    z-index:10;
}

#DatePickerTitle
{
    position: absolute;
    width: 100%;
    top: 0.5em;
    height: 1em;
    text-align: center;
    color: black;
}

#DatePickerButtonContainer 
{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    min-height: 200px;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
    background: white;
}

#DatePickerOptionContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    background-color:rgba(10, 10, 10, 0.9);
    z-index:1;
}

#AllButtonsContainer 
{
  position: absolute;
  top: 10%;
  top: 15%;
  width: 100%;
  height: 70%;
    //background-color:green;
}

.DateSelectionButton 
{
  position: relative;
  height: 20%;
  font-size: 10px;
  min-height: 40px;
  min-width: 80px;
  width: 90%;
  left: 5%;
  margin-top: 5px;
  background: white;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 18px;
}

#EndOfToday 
{
    //top:0;
    //transform:translateX(-110%);
}

#EndOfTomorrow 
{
    
    
    //transform:translateX(10%)
}

#EndOfWeek 
{
    //top:50%;
    //transform:translateX(-110%);
    
}

#EndOfMonth 
{   
    //transform:translateX(10%);
    //top:50%;
    
}

#SelectDate 
{
    position: absolute;
    left: 50%;
    width: 6em;
    margin-left: -3em;
    color: black;
}

#SelectDateContainer 
{
  position: absolute;
  top: 80%;
  width: 100%;
  height: 100%;
  padding-right: 0;
  color: white;
}


#SelectDateContainer a 
{
    position:absolute;
    left:50%;
    margin-left:4em;
    transform:translateY(-50%);
    
}

.InputBarAndContentContainer {
    z-index:1;

}

#ColorPickerContainer {
    left:50%;
    margin-left:-150px;
    top:50%;
    margin-top:-150px;
    z-index:1;
}

.ColorPicker {
    position:relative;
    display:inline-block;
}

#AddOption
{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    left:0;
    transition:left .3s;
}
.AddOptionHidden
{
    left:100% !important;
}

.AddOptionDisappear
{
    display:none;
}

#AddOptionButtonContainer
{
    position:absolute;
    
    width:90%;
    left:5%;
    height:50%;
    top:25%;

}

.AddOptionButton
{
    outline: 0;
    border: solid 1px gray;
    width: 100%;
    height: 60px;
    background: transparent;
    margin-top: 10px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    line-height: 60px;
    border-radius: 4px;
}


/*Media Queries For Desktop*/

/* Styles */
