@using Microsoft.AspNet.Identity

   

@if (Request.IsAuthenticated)
{
    var cookieValue = "{\"UserName\":\"" + User.Identity.GetUserName() + "\",\"UserID\":\"" + User.Identity.GetUserId() + "\"};";

    Response.Cookies["TilerCaluserWaggy"].Value = cookieValue;
    Response.Cookies["TilerCaluserWaggy"].Expires = DateTime.Now.AddDays(30); 
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="nav navbar-nav navbar-right">
        <span>
            @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </span>
        <span><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
    </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
