.ClassicHover, .ClassicIni, .SlabIni, .SlabHover{
	background: url(sprites.png) no-repeat;
}

.ClassicHover{
	background-position: -49px 0;
	width: 32px;
	height: 43px;
}

.ClassicIni{
	background-position: 0 -0.0089111328125px ;
	width: 32px;
	height: 43px;
}

.SlabIni{
	background-position: -4.0089111328125px -60.0089111328125px ;
	width: 26px;
	height: 32px;
}

.SlabHover{
	background-position: -54px -60px ;
	width: 26px;
	height: 32px;
}

