html {
}

body 
{
    padding:0;
}
.RegLogoContainer 
{
    position:absolute;
    top:5%;
    left:50%;
    margin-left:-50px;
    width:100px;//80%;
    height:95%;
    //border:solid 2px white;
}

#AspLoginDiv {
    display:none;
}

#LogoContainer 
{
    position:absolute;
    width:50px;
    height:35px;
    left:50%;
    display:none;
    margin-left:-25px;
}

.regSignInFormContainer 
{
    position:absolute;
    height:100%;
    //border: yellow solid 2px;
    width:100%;
    //left:5%;
    transition: all .5s;
}

#SignInFormContainer 
{
    position:absolute;
    width:100%;
    height:100%;
}

#regSignPageContainer
{
    position:absolute;
    padding:0%;
    width:100%;
    height:100%;
    //min-width:500px;
    
    font-family: 'Muli', sans-serif;
    
    //overflow:auto;
}

#radialBground
{
    position:absolute;
    min-width:100%;
    display:none;
    min-height:100%;
    width:2000px;
    height:2000px;
    left:50%;
    margin-left:-1000px;
    top:50%;
    margin-top:-1000px;
    background: rgba(62,62,63,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(62,62,63,1) 0%, rgba(46,43,44,1) 18%, rgba(35,31,32,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(62,62,63,1)), color-stop(18%, rgba(46,43,44,1)), color-stop(100%, rgba(35,31,32,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(62,62,63,1) 0%, rgba(46,43,44,1) 18%, rgba(35,31,32,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(62,62,63,1) 0%, rgba(46,43,44,1) 18%, rgba(35,31,32,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(62,62,63,1) 0%, rgba(46,43,44,1) 18%, rgba(35,31,32,1) 100%);
    background: radial-gradient(ellipse at center, rgba(62,62,63,1) 0%, rgba(46,43,44,1) 18%, rgba(35,31,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3f', endColorstr='#231f20', GradientType=1 );

}

#regSignFormContainer
{
    position:absolute;
    left:10%;
    top:10%;
    width:80%;
    //max-width:720px;
    //min-width:500px;
    //margin-left:-360px;
    font-size:55px;
    height:75%;
    //max-height:900px;
    display:block;
    //border: solid 2px pink;
    transition: all .5s;
    //overflow:auto;
}

#SignInInputContainer 
{
    position:absolute;
    top:0;
    width:100%;
    height:40%;
    transition: all .5s;
}

.SignRegInput
{
    font-family: 'Muli', sans-serif;
    position:absolute;
    //left:10%;
    width:100%;
    height:10%;
    background-color:rgba(255,255,255,.01);
    text-align:left;
    font-size:16px;
    color:black;
    border:none;
    border-bottom:solid 5px rgba(0,0,0,1);
}

#SignButtonContainer 
{
    position:absolute;
    top:80%;
    width:100%;
    transition: all .5s;
}


#UserNameSignin 
{
    top:40%;
    border:none;
    height:30%;
    //font-size:30px;
    border-bottom:solid black 4px;
}




#PasswordSignin 
{
    border:none;
    height:31%;
    //font-size:30px;
    //border-top:solid white 4px;
    top:70%;
}

#RegPageFormContainer 
{
    position:absolute;
    height:0%;
    border:none;
    top:30%;
    width:100%;
    //left:5%;
    //left:-100%;
//    visibility:hidden;
    transition: all .5s;
}

#EmailRegin 
{
    top:0;
    left:0;
    width:100%;
    height:100%;
    //font-size:45px;
}

#FullNameRegin 
{
    top:18%;
    border:none;
}

#UserNameRegin 
{
    top:30%;
}

#PasswordRegin 
{
    top:45%;
}

#ConfirmPasswordRegin 
{
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#EmailReginContainer 
{
    position:absolute;
    top:35%;
    position:absolute;
    //left:10%;
    width:100%;
    height:10%;
    background-color:rgba(10,10,10,.01);
    font-size:xx-large;
    color:white;
    border:none;
    //border-bottom:solid 10px rgba(250,250,250,1);
}


#ConfirmPasswordReginContainer 
{
    position:absolute;
    top:5%;
    position:absolute;
    //left:10%;
    width:100%;
    height:10%;
    background-color:rgba(10,10,10,.01);
    font-size:xx-large;
    color:white;
    border:none;
    //border-bottom:solid 10px rgba(250,250,250,1);
}

.regformError
{
    position:absolute;
    font-size:10px;
    height:35%;

    width:100%;
    text-align:right;
    color:red;
}

#SignInAndSocialContainer 
{
    position: absolute;
    width: auto;
}

#SignInButton 
{
    //position:absolute;
    border:none; 
    border-top:solid 4px black;
    background-color:transparent;
    top:70%;
    left:0%;
    //width:25%;
    text-align:center;
    //border-radius:10px;
    //font-size:40px;
    //color:rgb(255,255,255);
    color:gray;
    text-shadow:0 0 20px rgba(20,20,20,.5);
}

#SocialLogin {
    display:block;
}

#RegisterButton 
{
    position:absolute;
    border:solid black 4px; 
    background-color:rgba(250,250,250,.5);
    top:78%;
    left:10%;
    width:80%;
    text-align:center;
    border-radius:10px;
    //font-size:40px;
    color:rgb(0,0,0);
    
    
    text-shadow:0 0 20px rgba(20,20,20,.5);
    
}

.HomePageButton 
{
    font-size:18px;
    height:35px;
    line-height:35px;
}

#SignInError 
{
    top:65%;
    text-align:center;
    visibility:hidden;
}

#gotToRegisterScreenButton 
{
    position:absolute;
    text-align:center;
    border:none; 
    border-top:solid 4px gray;
    background-color:transparent;
    //border-radius:5px;
    //font-weight:bolder;
    color:gray;
    top:70%;
    //width:10%;
    left:100%;
    transform:translateX(-100%);
    //font-size:40px;
    
}

#gotoSignInScreenButton 
{
    position:absolute;
    text-align:center;
    //background-color:rgb(40,255,10);
    border:groove 1px rgb(250,250,250);
    border-radius:5px;
    font-weight:bolder;
    color:gray;
    top:94%;
    width:80%;
    
    left:10%;
    //font-size:30px;
    
    
    
}
#FormSubmissionError 
{
    position:absolute;
    top:72%;
    visibility:hidden;
    text-align:center;
}

.enabledButton
{
    border-color:black !important;
    color: black !important;;
}

.disabledButton 
{
    border-color:gray !important;;
    color: gray !important;;
}

.noBorders 
{
    border:none;
}




@media screen and (min-width: 800px){
  /* some CSS here */
  #regSignFormContainer
{
    position:absolute;
    left:50%;
    margin-left: -400px;
    width:800px;
    font-size:55px;
    display:block;
    transition: all .5s;
}


}