
#SearchBarAndContentContainer 
{
    position:absolute;
    width:100%;
    height:auto;
    top:0;
}

.FullScreenSearchContainer 
{
    width:100% !important;
    height:100% !important;
    z-index:10;
    background-color: #fff;
}

#RightHeaderElement 
{
    position:absolute;
    top: 29px;
    width: 30%;
    right: 94px;
    height:40px;
}


#SearchBar 
{
    
   width: 75%;
    padding-bottom: 3px;
    z-index: 11;
    position: absolute;
    height: 100%;
    left: 20%;

}

#SearchBarInput
{
    font-size: 24px;
    height:100%;
    outline: none;
    width:100%;
    border: 0;
    border-bottom: 1px solid black;
    font-family: 'texbold', Helvetica, sans-serif;
    position:absolute;
}
#TopPanelContainer {
  margin-top: 12%;
  margin-left: 94px;
  margin-right: 94px;
  }

.InputBarAndContentContainer {
  top: 15%;
  width: 90%;
  margin-left: 5%;
}
.returnedValueContainer {
  height: 40px;
}
.NameOfSearchedEventContainer {
  font-family: 'texreg', Helvetica, sans-serif;
  font-size: 18px;
}
.NowIcon {
  width: 45px;
  height: 45px;
  display:inline-block;
}

.NowIcon_Search
{
    position:relative;
}

.IconSetSearch {
    display:inline-block;
}

.IconSetSearch div 
{
    transition:none;    
    display:inline-block;
}


.DeleteSearchContainer {
    position:absolute;
    height:auto;
    width:100%;
}



