body {
}


.Cloudy
{
    background-image:url(../img/Icons/Weather/Cloudy.png);
}

.Fog
{
    background-image:url(../img/Icons/Weather/Fog.png);
}

.Hail
{
    background-image:url(../img/Icons/Weather/Hail.png);
}

.Moon
{
    background-image:url(../img/Icons/Weather/Moon.png);
}

.PartlySunny
{
    background-image:url(../img/Icons/Weather/PartlySunny.png);
}

.Rainy
{
    background-image:url(../img/Icons/Weather/Rainy.png);
}

.Snow
{
    background-image:url(../img/Icons/Weather/Snow.png);
}

.Sunny
{
    background-image:url(../img/Icons/Weather/Sunny.png);
}

.Thunderstorm
{
    background-image:url(../img/Icons/Weather/Thunderstorm.png);
}

.Unknown
{
    background-image:url(../img/Icons/Weather/Unknown.png);
}

.Whirl
{
    background-image:url(../img/Icons/Weather/Whirl.png);
}


.ClearNight
{
    background-image:url(../img/Icons/Weather/ClearNight.png);
}

.CloudyNight
{
    background-image:url(../img/Icons/Weather/CloudyNight.png);
}
.Eclipse
{
    background-image:url(../img/Icons/Weather/Eclipse.png);
}
.PartlyCloudy
{
    background-image:url(../img/Icons/Weather/PartlyCloudy.png);
}
.Rainbow
{
    background-image:url(../img/Icons/Weather/Rainbow.png);
}
.Storm
{
    background-image:url(../img/Icons/Weather/Storm.png);
}
.Tornado
{
    background-image:url(../img/Icons/Weather/Tornado.png);
}

.Windy
{
    background-image:url(../img/Icons/Weather/Windy.png);
}

.LocationWeatherIcon 
{
    position:absolute;
    width:80px;
    height:80px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    left:20%;
    opacity:0;
    top:50%;
    transition: opacity 1s, left 1s;
    margin-top:-40px;
}

.LocationWeatherDataCity 
{
    position:absolute;
    top:65%;
}

.LocationWeatherDataTemp 
{
   font-size:35px;
   position:absolute;
   top:5%;
   height:60%;
   overflow:hidden;
}
.LocationWeatherDataNonTempData 
{
    position:absolute;
    top:65%;
    font-size:8px;
    width:100%;
    text-align:center;
    font-weight:600;
}

.LocationWeatherDataContainer 
{
    position:absolute;
    top:10%;
    height:80%;
    width:30%;
    left:67%;
}

