<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tiler Desktop</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../Scripts/moment.min.js"></script>
    <script src="../Scripts/fullcalendar.min.js"></script>
    <script src="../Scripts/WebControl.js"></script>
    <script src="../Scripts/MonthOverviewIni.js"></script>
    <script src="../Scripts/HomePageControl.js"></script>
    <script src="../Scripts/SelectedEvent.js"></script>
    <script src="../Scripts/AddNewEvent_Desktop0.js"></script>
    <script src="../Scripts/SearchHandler.js"></script>
    <script src="../Scripts/SeachHandlerDesktop.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.timepicker.min.js"></script>
    <!--<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>-->
    <script type="text/javascript" src="../Scripts/datepair.js"></script>
    <script src="../Scripts/heartcode-canvasloader-min-0.9.1.js"></script>

    <link rel="stylesheet" type="text/css" href="../CSS/TexGyreFont.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
    <link rel="stylesheet" type="text/css" href="../CSS/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/WeatherIcon.css" />
    <link href='http://fonts.googleapis.com/css?family=Nixie+One|Poiret+One|Metrophobic|Josefin+Sans|Muli|Gafata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../CSS/jquery.timepicker.css" />
    <link rel=" stylesheet" type="text/css" href="../CSS/MainUI.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/SubCalEventStyles.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/MonthOverviewIni.css" />
    <link rel='stylesheet' type="text/css" href="../CSS/fullcalendar.css" />
    <!--<link rel="stylesheet" type="text/css" href="../CSS/AddNewEvent.css" />-->
    <link rel="stylesheet" type="text/css" href="../CSS/AddNewEventDesktop.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/LoggedHomeUser.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/SelectedSubEvent.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/SearchDesktop.css" />
</head>

<body>
    <div id="Header">
        <span class="TilerLogo"></span>
        <div id="AddEventButton" class="ControlPanelButton"></div>
    </div>
    <div id="SearchBarAndContentContainer"><input id="SearchBar"></div>
    <div id="MonthBar"></div>
    <div id="AddEventPanel"></div>
    <div id="FullWeekContainer"> </div>
    <div id="LeftPane">
        <div id="MonthGrid"> </div>
    </div>
    <div id="LoadingScreenPanel"></div>

    <div id="ControlPanelContainer">
        <div id="InfoContainer">
            <div id="ControlPanelNameOfSubevent">
                <div class="InfoControlPanel" id="ControlPanelNameOfSubeventInfo"></div>
            </div>
            <div id="ControlPanelSubEventTime">
                <div class="InfoControlPanel" id="ControlPanelSubEventTimeInfo"></div>
            </div>
            <div id="ControlPanelDeadlineOfSubevent">
                Deadline:
                <div class="InfoControlPanel" id="ControlPanelDeadlineOfSubeventInfo"></div>
                <div id="ControlPanelProcrastinateButton"></div>
            </div>
        </div>
        <div id="InputContainer">
            <div class="ControlPanelButton" id="ControlPanelLocationButton"></div>
            <div class="ControlPanelButton" id="ControlPanelDeleteButton"></div>
            <div class="ControlPanelButton" id="ControlPanelCloseButton"></div>
        </div>
    </div>
</body>
</html>





