.WagTapMobile 
{
  width: 640px;
  height:960px;
  left:0;
  border:red 2px solid;
  position:absolute;
}

body {
  background-color: #fff;
  font-family: 'texreg', Helvetica, sans-serif;
  box-sizing: border-box;
}

#MonthBar {
  height: 7%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  top: 12.5%;
}

#FullWeekContainer 
{
  position:absolute;
  top: 20%;
  left: 0;
  background-color:white;
  border-radius:20px;
  width:100%;
  height:75%;
}

#LeftPane 
{
  display: none;
  position:absolute;
  top:12.5%;
  left:0%;
  background-color:white;
  width:25%;
  height:100%;
}


#CurrentWeekContainer 
{
  width:100%;
  left: 0;
  height:100%;
  position:absolute;
  overflow:auto;
  overflow-y:hidden;
}


.disabledWeekRange 
{
  position:absolute;
  left:100%;
}

.EnabledWeekRange
{
  position:absolute;
  left:0%;
}

#MonthGrid 
{
  position:absolute;
  top:0;
  height:100%;
  color:rgb(20,20,20);
  width:100%;
  //visibility:hidden;
  //background-color:brown;
}

.DayContainer
{
  position:absolute;
  width:14.3%;
  height: 100%;
  overflow:hidden;
  height: 120% !important;
  overflow: hidden;
  top: -20%;
}

.SundayDayContainer
{
  position:absolute;
  left:0%;
  height: 100%;
}

.MondayDayContainer
{
  position:absolute;
  left:14.1%;
  height: 100%;
}

.TuesdayDayContainer
{
  position:absolute;
  left:28.2%;
  height: 100%;
}

.WednesdayDayContainer
{
  position:absolute;
  left:42.3%;
  height: 100%;
}

.ThursdayDayContainer
{
  position:absolute;
  left:56.4%;
  height: 100%;
}

.FridayDayContainer
{
  position:absolute;
  left:70.5%;
  height: 100%;
}

.SaturdayDayContainer
{
  position:absolute;
  left:84.6%;
  height: 100%;
}

.NameOfDayContainer 
{
  position:absolute;
  height:14%;
  width:100%;
  text-align:center;
  white-space: nowrap;
  border-bottom:solid black 1px;
}

.NameOfDayContainer p {
  font-family: 'texbold';
  font-size: 34px;
  line-height: 59px;
  margin-top: 0;
}

.NameOfDayContainer span {
  font-family: 'texreg';
  font-size: 14px;
}


.dateOfDay 
{
    font-size: 16px !important;
    font-family: 'texreg', Helvetica, sans-serif !important;
    position: absolute;
    top: 36%;
    height: 50%;
    width: 100%;
}

.DayTimeContainer 
{
  position:absolute;
  top: 14%;
  height:90%;
  width:100%;
}

.DayShadeContainer
{
  position:absolute;
  width:100%;
  height:100%;
  
}
.shadeContainer 
{
  position:absolute;
  height:4.1667%;
  width:100%;
}

.DarkerShade 
{
  position:absolute;
  background-color:rgba(100,100,100,.2);
}

.LighterShade 
{
  position:absolute;
  background-color:rgba(200,200,200,.2);
}

.EventDayContainer 
{
  position:absolute;
  width:100%;
  height:100%;
  background-color:none;
}

.gridSubevent {
  position:absolute;
  cursor: pointer;
  width:12.87%;
  transition:all 1s;
  background-color:rgba(1,1,1,.1);
  
  overflow:hidden;
  text-align:left;
  text-overflow:ellipsis;
  font-size:0.65em;
  white-space:nowrap;
  border:white 1px solid;
  border-radius:7px;
  width:17px;

}

.gridSubeventContainer {
  position:absolute;
  width:12.87%;
  transition:all 1s;
  background-color:transparent;
  box-sizing: border-box;
  padding: 3px;

}

.renderPlane {
  position:absolute;
  left:0;
  top:14.5%;
  width:100%;
  height:83%;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  //background-color:rgba(20,255,20,.3);
}

/*Conrol panel Container*/
#ControlPanelContainer 
{
  position:absolute;
  outline: none;
  background-color: #fff; 
  bottom:0;
  z-index: 80;
  width:100%;
  border-top: 1px solid black;
  height: 8.6%;
  display: none;
}

#InfoContainer 
{
  margin-top: calc((7% - 25px)/4);
  -webkit-margin-top: calc((7% - 25px)/4);
  -moz-margin-top: calc((7% - 25px)/4);
}

#ControlPanelNameOfSubevent, 
#ControlPanelNameOfSubeventInfo,
#ControlPanelDeadlineOfSubeventInfo,
#ControlPanelDeadlineOfSubevent,
#ControlPanelSubEventTimeInfo,
#ControlPanelSubEventTime{
  display:inline
}
#ControlPanelNameOfSubeventInfo
{
  margin-right:30px; 
  margin-left: 30px;
  font-size: 16px;
  font-family: 'texbold';
}

#ControlPanelDeadlineOfSubeventInfo 
{
  margin-right:30px; 
  font-size: 16px;
  font-family: 'texbold';
}

#ControlPanelSubEventTimeInfo {
  font-size: 16px;
  margin-right: 30px;
  font-family: 'texbold';
}

.ControlPanelIconSetContainer
{
    position: fixed;
    top: 39%;
    width: 281px;
    right: 5%;
    height: 49px;
    padding: 5px;
    background-color: yellow;
    border-top: 1px solid #000;
    transform: translateY(-50%);
    -webkit-box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
    -moz-box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
    box-shadow: 10px 10px 30px 0px rgba(128,128,128,1);
    outline: none;
}

.ControlPanelButton {
  background-image: url("../img/Icons/close_trash_location.png"); 
  width: 45px;
  height: 45px;
  display: inline-block;
//  margin-top: 26px;
  margin-left: 14px;
  cursor: pointer;
}
.ControlPanelButton:first-child { margin-left: 0; }

#Header {
  width: 100%;
  position: relative;
  top: 0;
  height: 12.5%;
}

#Header .ControlPanelButton {
  top: calc((12.5% - 45px)/2);
  -webkit-top: calc((12.5% - 45px)/2);
  -moz-top: calc((12.5% - 45px)/2);
  position: fixed;
}
#Header #AddEventButton { background-position: -135px 0; right: 30px; }
#Header #AddEventButton:hover { background-position: -135px -45px; }

#Header #ControlPanelSearchButton { right: 95px; }


.ControlPanelCloseButton {background-position: -315px 0px;}
.ControlPanelCloseButton:hover {background-position: -315px -45px;}
.ControlPanelDeleteButton { background-position: -45px 0; }
.ControlPanelDeleteButton:hover { background-position: -45px -45px;}
.ControlPanelLocationButton { background-position: -90px 0; }
.ControlPanelLocationButton:hover { background-position: -90px -45px; }
.ControlPanelCompleteButton { background-position: -180px 0; }
.ControlPanelCompleteButton:hover { background-position: -180px -45px; }
.ControlPanelProcrastinateButton { background-position: -270px 0; }
.ControlPanelProcrastinateButton:hover { background-position: -270px -45px; }
#ControlPanelSearchButton { background-position: -225px 0; }
#ControlPanelSearchButton:hover { background-position: -225px -45px; }

/*
.InfoControlPanel 
{
  position:absolute;
  width:70%;
  font-size:.9em;
  height:1.8em;
  left:30%;
  overflow:hidden;
  text-overflow:ellipsis;
  //border: 3px red solid;
}
*/
.SelectedWeekGridSubcalEvent
{
  //box-shadow:rgba(10,10,10,.9) 0px 0px 8px;
  z-index:4;
  //border:solid 2px rgb(80,80,80);
  background-color:yellow;
  transition:all .1s;
}

#DirectionPanel 
{
  position:absolute;
  top:00%;
  width:100%;
  overflow:hidden;
  display:none;
}

.TimeOfDayContainer 
{
  position:absolute;
  height: 100%;
  width:100%;
  top:10%;
  height:90%;
}

#leftDayOfTime {
  display: none;
  position:absolute;
  top:10%;
  text-align:right;
  width:10%;
  height:100%;
  overflow-x: visible;
  overflow-y:hidden;
  box-shadow: 10px 0px 25px rgb(136, 136, 136);
}

#rightDayOfTime {
  position:absolute;
  display: none;
  top:10%;
  left:90%;
  width:10%;
  text-align:left;
  height:100%;
  overflow-x: visible;
  overflow-y:hidden;
  box-shadow: -10px 0px 25px rgb(136, 136, 136);
}
.TimeOfDay 
{
    height:4.1667%;
    width:100%;
}

.weekContainer 
{
    position:absolute;
    height:100%;
    width:100%;
}

.ListElement 
{
    width:10%;
    height:20px;
    position:absolute;
    font-size:12px;
    overflow: hidden;
    transition:all .1s;
    //margin-left:10px;
    border:white 1px solid;
}


.SubEventReferenceName 
{
    position:absolute;
    width:60%;
    overflow:hidden;
    margin-left:5px;
    text-overflow:ellipsis;
}

.SubEventReferenceTime 
{
    position:absolute;
    left:62%;
    width:35%;
    overflow:hidden;
    text-overflow:ellipsis;
    //z-index:15;
}

.selectedElements 
{
    background-color:yellow;
}
.LockSymbolContainer 
{

}
.selectedDayElements 
{
    display:block; 
}

.ListElementDataContentContainer 
{
    position:absolute;
    cursor: pointer;
    width:80%;
    height:100%;
    border-radius:10px;
    left:20%;
}

.EventLockImgContainer {
    height:18px;
    width:14px;
    top:2px;
    left:0;
    margin:0;

}

.MonthButton 
{
    width:3em;
    left: 20px;
    height:1em;
    top:50%;
    margin:0 auto;
    margin-top:-.8em;
    position:absolute;
}

.MonthBarDay 
{
    width:100%;
    display: inline-block;
    //margin: 0 9px;
    position: absolute;
    top: 50%;
    left:0;
}

.MonthBarWeekDay 
{
    position:absolute;
    top:0;
    width:100%;
    color:#cccccc;
    display:inline-block;
    left:0;
}

#AllDayContainer {
    position:absolute;
    left:4em;
    width:90%;
    height:100%;
    //top:50%;
    //margin:0 auto;
    //margin-top:-.8em;
    text-align:center;
    
}

.MonthBarDayWeekContainer {
    cursor: pointer;
    position:absolute;
    width:3.22%;
    height:70%;
    top:15%;
    //border:green 2px solid;
}

.MonthBarDayWeekContainer:hover .MonthBarDay {
  color: #cccccc;
}

.ColorAugmentation 
{
    
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    border:white 1px solid;
    //border-radius:3px;
    z-index:-1;
}

.FullColorAugmentation 
{
    border:white 1px solid;
    height: 60px;
}



#ConfirmDeleteModal {
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
}
/*
#ConfirmDeleteModal div {
  margin-top: 3%;
  width: 651px;
  margin-left: auto;
  margin-right: auto;

}
*/
#ConfirmContent {
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
}


#YeaToConfirmDelete
{
    left: 50%;
    top:2em;
    transform: translateX(-200%);
    position: absolute;
    margin:0;
}

#NayToConfirmDelete
{
    left: 50%;
    top:2em;
    transform: translateX(50%);
    position: absolute;
    margin:0;
}

#DeleteMessage 
{
position: absolute;
top: 0;
text-align: center;
width: 100%;
}

#TimeBar {
  position: fixed;
  height: calc(62.25% + 3px);
  -webkit-height: calc(62.25% + 3px);
  -moz-height: calc(62.25% + 3px);
  background-color: transparent;
  width: 49px;
  padding-bottom: 1px;
  border-left: #000 1px solid;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  right: 0;
  top: 30.5%;
}
#TimeBar ul {
  list-style: none;
  margin: 0;
  height: 100%;
  padding-left: 10px;
}
#TimeBar ul li {
  display: block;
  font-family: 'texreg', Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: .6em;
  width: 75px;
  height:  4.16666%;
}

#ProcrastinateEventModal {
  display: none;
  width: 100%;
  z-index: 79;
  height: 14%;
  background-color: white;
  bottom: 0;
  position: fixed;
  border-top: 1px solid black;
}
#ProcrastinateEventModal .SubmitButton {
  margin-left: 45px !important;
}
#ProcrastinateEventInputContainer {
  width: auto;
  float: right;
  margin-right: 30px;
  margin-top: calc((8% - 62px)/2);
  -moz-margin-top: calc((8% - 62px)/2);
  -webkit-margin-top: calc((8% - 62px)/2);
}
#ProcrastinateEventModal div {
  display: inline-block;
}
#ProcrastinateEventModal input {
  font-size: 32px;
  width: 50px;
  color: black;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'texbold';
  margin-left: 20px;
}

#ProcrastinateEventModal input:focus {
    background-color: yellow;
    outline: none;
} 

#ProcrastinateEventModal span {
  font-size: 32px;
  font-family: 'texbold';
  color: #ccc;
  display: inline;
}

#ProcrastinateHeading {
  font-family: 'texbold';
  font-size: 16px;
}

#MultiSelectPanel 
{
    position:absolute;
    height:100%;
    width: calc(100% - 283px);
    -moz-width: calc(100% - 283px);
    -webkit-width: calc(100% - 283px);
    top: 0;
    background: white;
    text-align:center;
}

.hideMultiSelectPanel 
{
    display:none;
}

.setAsDisplayNone 
{
    display:none !important;
}

#logoutForm { position: fixed; }
