
#SearchBarAndContentContainer 
{
    position:absolute;
    width:100%;
    height:auto;
    top:0;
}

.FullScreenSearchContainer 
{
    width:100% !important;
    height:100% !important;
    z-index:10;
    background-color: #fff;
}

#SearchBar
{
    position:absolute;
    top: 29px;
    //padding:40px 0px;
    width:40%;
    right: 94px;
    height:40px;
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    outline: none;
    font-family: 'texbold', Helvetica, sans-serif;
    font-size: 24px;
}
#TopPanelContainer {
  margin-top: 12%;
  margin-left: 94px;
  margin-right: 94px;
  }

.InputBarAndContentContainer {
  top: 15%;
  width: 90%;
  margin-left: 5%;
}
.returnedValueContainer {
  height: 40px;
}
.NameOfSearchedEventContainer {
  font-family: 'texreg', Helvetica, sans-serif;
  font-size: 18px;
}
.NowIcon {
  width: 45px;
  height: 45px;
  display:inline-block;
}

.NowIcon_Search
{
    position:relative;
}

.IconSetSearch {
    display:inline-block;
}

.IconSetSearch div 
{
    transition:none;    
    display:inline-block;
}


.DeleteSearchContainer {
    position:absolute;
    height:auto;
    width:100%;
}



